body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


header {
    text-align: center;
    padding: 20px;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: #333;
}

h1,h2,h3,h4 {
    color: #ad1414;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Tahoma", monospace;


 /* Set the font family */
    font-weight: bold; /* Set font weight to bold */
    font-style: italic; /* Set font style to italic */
}
 
.infographic {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    background-color: #e6e4e4;
    width: auto; /* Adjust the width to your preference */
    height: auto; /* Adjust the height to your preference */
   
    padding: 17px 17% 0;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.education {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    background-color: #e6e4e4;
    width: auto; /* Adjust the width to your preference */
    height: auto; /* Adjust the height to your preference */
   
    padding: 17px 17% 0;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.contact {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    
    background-color: #e6e4e4;
    width: auto; /* Adjust the width to your preference */
    height: 960px; /* Adjust the height to your preference */
   
    padding: 17px 17% 0;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #ad1414;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ad1414;
}

header img {
    width: 100px; /* Adjust this value to your desired width */
    height: auto; /* This ensures the aspect ratio is maintained */
}

header {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    background-color: #e6e4e4;
    width: auto; /* Adjust the width to your preference */
    height: 300px; /* Adjust the height to your preference */
   
    padding: 17px 17% 0;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17); /* Add padding for spacing if needed */
}


.contact-button {
    background-color: #ad1414;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-button:hover {
    background-color: #FF5A8C;
}


.resume-button {
    background-color: #ad1414;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.resume-button:hover {
    background-color: #8E8EBD;
}


.rails-default-error-page {
    background-color: #EFEFEF;
    color: #2E2F30;
    text-align: center;
    font-family: arial, sans-serif;
    margin: 0;
  }

.rails-default-error-page div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }

.rails-default-error-page div.dialog > div {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    border-top: #B00100 solid 4px;
    background-color: white;
    padding: 7px 12% 0;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

.rails-default-error-page h1 {
    font-size: 100%;
    color: #ad1414;
    line-height: 1.5em;
  }

.rails-default-error-page div.dialog > p {
    margin: 0 0 1em;
    padding: 1em;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-right-color: #999;
    border-top-color: #DADADA;
    color: #666;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  }

  #interests {
    border: 1px solid #CCC;
    border-right-color: #999;
    border-left-color: #999;
    border-bottom-color: #BBB;
    background-color: #e6e4e4;
    width: auto; /* Adjust the width to your preference */
    height: auto; /* Adjust the height to your preference */
   
    padding: 17px 17% 0;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.interest-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.interest {
    flex: 0 1 calc(33.33% - 20px);
    background-color: #ede7e7;
    border-right-color: #999;
    border-left-color: #999;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 17px 17% 0;
    margin-bottom: 20px;
    box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.interest h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
  
}

.interest p {
    margin: 10px 0;
    font-size: 16px;
    color: #666;
    
}

 
.education-item-container {
    display: flex;
    background-color: #F7F7F7; /* Background color for the whole container */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevents inner content from overflowing */
}

.education-bold {
    flex: 1;
    padding: 9px;
    background-color: #ad1414; /* Background color for the bold section */
    color: white;
    font-weight: bold;
}

.education-details {
    flex: 2;
    padding: 20px;
    background-color: #FFFFFF; /* Background color for the details section */
    color: #333;
}